ACR/Build-Notification/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppName": {
            "type": "string"
        },
        "vsts_project": {
            "type": "string"
        },
        "vsts_buildid": {
                "type": "string"
        }
    },
    "variables": {
        "msteams_connection": "teams",
        "vsts_connection": "visualstudioteamservices",
        "base_image": "windows/bjdbasewindows2019"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "name": "[variables('msteams_connection')]",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('msteams_connection')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/',  variables('msteams_connection'))]" 
                }
            },
            "dependsOn": []
        },
        {
            "type": "Microsoft.Web/connections",
            "name": "[variables('vsts_connection')]",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('vsts_connection')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/',  variables('vsts_connection'))]" 
                }
            },
            "dependsOn": []
        },
        {
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('LogicAppName')]",
            "apiVersion": "2017-07-01",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "action": "push",
                                    "id": "cb8c3971-9adc-488b-xxxx-43cbb4974ff5",
                                    "request": {
                                        "host": "myregistry.azurecr.io",
                                        "id": "3cbb6949-7549-4fa1-xxxx-a6d5451dffc7",
                                        "method": "PUT",
                                        "useragent": "docker/17.09.0-ce go/go1.8.3 git-commit/afdb6d4 kernel/4.10.0-27-generic os/linux arch/amd64 UpstreamClient(Docker-Client/17.09.0-ce \\(linux\\))"
                                    },
                                    "target": {
                                        "digest": "sha256:xxxxd5c8786bb9e621a45ece0dbxxxx1cdc624ad20da9fe62e9d25490f33xxxx",
                                        "length": 524,
                                        "mediaType": "application/vnd.docker.distribution.manifest.v2+json",
                                        "repository": "hello-world",
                                        "size": 524,
                                        "tag": "v1"
                                    },
                                    "timestamp": "2017-11-17T16:52:01.343145347Z"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Queue_a_new_build": {
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['visualstudioteamservices']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/@{encodeURIComponent('Kubernetes')}/_apis/build/builds",
                                        "queries": {
                                            "account": "[parameters('vsts_project')]",
                                            "buildDefId": "[parameters('vsts_buildid')]"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                }
                            },
                            "else": {
                                "actions": {
                                    "Terminate": {
                                        "inputs": {
                                            "runStatus": "Succeeded"
                                        },
                                        "runAfter": {},
                                        "type": "Terminate"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()['target']['repository']",
                                            "[variables('base_image')]"
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Post_a_message_(V3)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Post_a_message_(V3)": {
                            "inputs": {
                                "body": {
                                    "body": {
                                        "content": "<p>New Container Push...<br>\nid: @{triggerBody()['id']}<br>\nrepo:@{triggerBody()['target']['repository']}<br>\nversion: @{triggerBody()['target']['tag']}<br>\n<br>\nFull Body: <br>\n@{triggerBody()}</p>",
                                        "contentType": "html"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v3/beta/teams/@{encodeURIComponent('3529219f-6176-4ede-9775-59715b699d67')}/channels/@{encodeURIComponent('19:9b05fc46c2814cbda1bf5850d7bc09f9@thread.skype')}/messages"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('msteams_connection'))]",
                                "connectionName": "[variables('msteams_connection')]",
                                "id": "[reference(concat('Microsoft.Web/connections/', variables('msteams_connection')), '2016-06-01').api.id]"
                            },
                            "visualstudioteamservices": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('vsts_connection'))]",
                                "connectionName": "[variables('vsts_connection')]",
                                "id": "[reference(concat('Microsoft.Web/connections/', variables('vsts_connection')), '2016-06-01').api.id]"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('msteams_connection'))]",
                "[resourceId('Microsoft.Web/connections', variables('vsts_connection'))]"
            ]
        }
    ],
    "outputs": {
        "logicAppURL": {
			"type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('logicAppName')), '/triggers/manual'), '2016-06-01').value]"
        }     
    }
}